@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/subset-ProximaNova-Semibold.eot');
    src: url('../fonts/subset-ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/subset-ProximaNova-Semibold.woff') format('woff'),
        url('../fonts/subset-ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/subset-ProximaNova-Regular.eot');
    src: url('../fonts/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/subset-ProximaNova-Regular.woff') format('woff'),
        url('../fonts/subset-ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/subset-ProximaNova-Light.eot');
    src: url('../fonts/subset-ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/subset-ProximaNova-Light.woff') format('woff'),
        url('../fonts/subset-ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/subset-ProximaNova-Bold.eot');
    src: url('../fonts/subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/subset-ProximaNova-Bold.woff') format('woff'),
        url('../fonts/subset-ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}