@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBlack/Gotham-Black.eot');
    src: url('../fonts/GothamBlack/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamBlack/Gotham-Black.woff2') format('woff2'),
        url('../fonts/GothamBlack/Gotham-Black.woff') format('woff'),
        url('../fonts/GothamBlack/Gotham-Black.ttf') format('truetype'),
        url('../fonts/GothamBlack/Gotham-Black.svg#Gotham-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

// font-family: 'Open Sans', sans-serif;
// font-family: 'Lato', sans-serif;